name: Publish Python package to Artifactory

on:
  push:
    branches:
      - main
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        run: pip install uv

      - name: Build package
        working-directory: my-python-package
        run: |
          uv build
      - name: Curl connectivity test
        run: |
          curl -vk http://mill.jfrog.info:32820/artifactory/api/system/ping

    
